.image-wrapper {
    a {
        display: block;
        position: relative;
        text-decoration: none;
    }

    img {
        display: block;
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
}
