[class*="heading"]:not([class*="subheading"]) {
    font: $bold $xxlarge;
}

[class*="subheading"] {
    font: $normal $large;
}

[class*="title"]:not([class*="subtitle"]) {
    font: $bold $medium;
    margin-bottom: $space24;

    &[class*="primary"] {
        font: $bold $xxlarge;
    }

    &[class*="secondary"] {
        font: $normal $medium;
    }
}

[class*="label"]:not([class*="sublabel"]) {
    font: $bold $regular;

    &[class*="primary"] {
        font: $bold $medium;
    }

    &[class*="secondary"] {
        font: $normal $regular;
    }
}

[class*="sublabel"] {
    font: $normal $regular;

    &[class*="primary"] {
        font: $normal $medium;
    }

    &[class*="secondary"] {
        font: $light $regular;
    }
}

[class*="link"] {
    cursor: pointer;
    color: $blue;
}

[class*="message"] {
    font: $normal $medium;
}

[class*="caption"] {
    font: $light $small;
}


/* FONT SIZE / LINE HEIGHT / FAMILY */
[class*="xxsmall"] {
    font: $xxsmall; /* 10 */
}

[class*="xsmall"] {
    font: $xsmall; /* 11 */
}

[class*="small"] {
    font: $small; /* 12 */
}

[class*="regular"] {
    font: $regular; /* 14 */
}

[class*="medium"] {
    font: $medium; /* 16 */
}

[class*="large"] {
    font: $large; /* 18 */
}

[class*="xlarge"] {
    font: $xlarge; /* 20 */
}

[class*="xxlarge"] {
    font: $xxlarge; /* 24 */
}

[class*="big"] {
    font: $big; /* 32 */
}

/* FONT WEIGHT */
[class*="soft"] {
    font-weight: $light;
}

[class*="normal"] {
    font-weight: $normal;
}

[class*="bold"]:not([class*="bolder"]) {
    font-weight: $bold;
}

[class*="bolder"] {
    font-weight: $bolder;
}