.loading {
    color: transparent !important;
    overflow: hidden;

    p, a, span, h1, h2, h3, h4, h5, h6, img, svg, label, td, th, button, svg {
        min-width: $space16 !important;
        min-height: $space16 !important;
        z-index: -1 !important;
        line-height: $space24 !important;
        margin: 2px;
        user-select: none;
        background-color: rgba($black, 0.3) !important;
        color: transparent !important;
    }

    img {
        margin: 0;
    }
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.no {
    &-padding {
        padding: 0 !important;
    }

    &-margin {
        margin: 0 !important;
    }

    &-gutter {
        > * {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }
}

[class*="margin"] {
    &[class*="-top"] {
        margin-top: $space;
    }

    &[class*="-left"] {
        margin-left: $space;
    }

    &[class*="-bottom"] {
        margin-bottom: $space;
    }

    &[class*="-right"] {
        margin-right: $space;
    }

}

[class*="no"] {
    &[class*="-margin"] {
        &[class*="-top"] {
            margin-top: 0 !important;
        }

        &[class*="-bottom"] {
            margin-bottom: 0 !important;
        }

        &[class*="-left"] {
            margin-left: 0 !important;
        }

        &[class*="-right"] {
            margin-right: 0 !important;
        }
    }

    &[class*="-padding"] {
        &[class*="-side"] {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
        &[class*="-top"] {
            padding-top: 0 !important;
        }

        &[class*="-bottom"] {
            padding-bottom: 0 !important;
        }

        &[class*="-left"] {
            padding-left: 0 !important;
        }

        &[class*="-right"] {
            padding-right: 0 !important;
        }
    }

    &[class*="-gutter"] {

        @include breakpoint(md) {
            &[class*='-lg'],
            &[class*="-md"] {
                > * {
                    padding-left: 0 !important;
                    padding-right: 0 !important;
                }
            }

        }

        @include breakpoint(sm) {
            &[class*='-lg'],
            &[class*='-md'],
            &[class*="-sm"] {
                > * {
                    padding-left: 0 !important;
                    padding-right: 0 !important;
                }
            }
        }

        @include breakpoint(xs) {

            &[class*="-lg"],
            &[class*="-md"],
            &[class*="-sm"],
            &[class*="-xs"] {
                > * {
                    padding-left: 0 !important;
                    padding-right: 0 !important;
                }
            }
        }
    }
}

.float {
    &-left {
        float: left;
    }

    &-right {
        float: right;
    }

    @include breakpoint(md) {
        [class*='-md'],
        [class*='-sm'],
        [class*='-xs'] {
            float: none;
        }
    }

    @include breakpoint(sm) {
        [class*='-sm'],
        [class*='-xs'] {
            float: none;
        }
    }

    @include breakpoint(xs) {
        [class*='-xs'] {
            float: none;
        }
    }
}

.align {
    &-left {
        text-align: left;
    }

    &-right {
        text-align: right;
    }

    &-center {
        text-align: center;
    }

    &-justify {
        text-align: justify;
    }
}